body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/582/097/original/seamless-abstract-poker-background-with-playing-cards-signs-red-and-white-symbols-on-white-and-black-squares-casino-symbols-vector.jpg);

    margin:0;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-position: center;
    background-repeat: repeat;
    background-size: cover; 
    height: 100%;

}

.card {
    position: relative;
    width: 370px;
    height: 510px;
    border: 4px solid #555555;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    }

.topSuit{
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 100px;
    position: absolute;
    top: -20px;
    left: 10px;
    text-shadow: 0px 0px 20px #787b67;
}

.cardNum{
    
    font-family: 'Luckiest Guy', cursive;
    font-weight: 500;
    font-size: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 20px #787b67;
}

.botSuit{
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 100px;
    position:absolute;
    bottom: -20px;
    right: 10px;
    transform: rotate(180deg);
    text-shadow: 0px 0px 20px #787b67;
}
button{
    
    border-radius: 7px;
    border-color: #555555;
    color: crimson;
    margin-top: 20px;
        width: 150px;
      font-size: 16px;
      font-family: 'Luckiest Guy', cursive;
}